/* VARIABLES */
:root {
  --primary: #52c1b2;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

body {
  background-color: darkblue;
}

body p {
  color: white
}

/* UTILITY CLASSES */
.u-margin-left-s{
  margin-left: 0.5rem;
}

.u-primary-color-accent {
  color: var(--primary);
}