/* VARIABLES */
:root {
  --primary: #52c1b2;
}

/* GLOBAL STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: darkblue;
}

body p {
  color: white
}

/* UTILITY CLASSES */
.u-primary-color-accent:hover {
  color: var(--primary);
}